{% extends "base.html" %}
<title>{% block title %}Логин{% endblock %}</title>
{% block nav %}

{% endblock %}
{% block content %}

    <div class="main">
    <div class="login">
        <form action="/auth/login/" method="post">
         {% if form_errors %}
            <h1 class='a'> {{ form_errors }}</h1>
        {% endif %}
            {% if email_error %}
                <h1 style="color: red; transition: all 2s ease-out;"> {{ email_error }}</h1>
            {% endif %}
            {% csrf_token %}
            <label for="name"> <span class="span_log">Логин</span><br>
                <input type="email" name="email">
            </label>
            <br><br>
            <label for="name"> <span class="span_password"> Пароль</span><br>
                <input type="password" name="password">
            </label>
            <br><br>

            <label for="a">
                <input class="submit" value="Войти" type="submit" style=>
            </label>
    </div>

    </form>
    <li class="reg"><a href="/auth/register/">Регистрация</a></li>
    </div>
{% endblock %}

